.container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    width: 60rem;
    min-height: 14.2rem;
    margin: 2rem auto;
    gap: 2rem;
}

h2 {
    text-align: center;
    margin: 3rem 0;
    opacity: .8;
}


.link-card {
    opacity: 1;
    margin: 0;
    color: #000;
}

.link-card:hover {
    transform: scale(105%);
}
